<a href="https://colab.research.google.com/github/SimoniMouzoura/SimoniMouzoura.github.io/blob/main/data_chart5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests, json, pandas as pd, numpy as np

In [ ]:
import pandas as pd
data=pd.read_csv('https://raw.githubusercontent.com/SimoniMouzoura/SimoniMouzoura.github.io/main/project/religion_majorukcitiesmain.csv').set_index('Religion')

In [ ]:
data

            Local Authority    Value
Religion
No religion            Kent  399,153
No religion           Leeds  237,888
No religion          Surrey  292,737
No religion           Essex  399,325
No religion      Manchester  153,701
...                     ...      ...
Other             Sheffield    5,327
Other          Glasgow City    7,149
Other            Birmingham   12,861
Other               Bristol    8,546
Other               Cardiff    5,764

[80 rows x 2 columns]

In [ ]:
data["Value"]

Religion
No religion    399,153
No religion    237,888
No religion    292,737
No religion    399,325
No religion    153,701
                ...
Other            5,327
Other            7,149
Other           12,861
Other            8,546
Other            5,764
Name: Value, Length: 80, dtype: object

In [ ]:
type('Value')

str

In [ ]:
data['Value'].replace(',','')

In [ ]:
data["Value"] = data["Value"].str.replace(",","").astype(float)

In [ ]:
data['Value']

Religion
No religion    399153.0
No religion    237888.0
No religion    292737.0
No religion    399325.0
No religion    153701.0
                 ...
Other            5327.0
Other            7149.0
Other           12861.0
Other            8546.0
Other            5764.0
Name: Value, Length: 80, dtype: float64

In [ ]:
data

            Local Authority     Value
Religion
No religion            Kent  399153.0
No religion           Leeds  237888.0
No religion          Surrey  292737.0
No religion           Essex  399325.0
No religion      Manchester  153701.0
...                     ...       ...
Other             Sheffield    5327.0
Other          Glasgow City    7149.0
Other            Birmingham   12861.0
Other               Bristol    8546.0
Other               Cardiff    5764.0

[80 rows x 2 columns]

In [ ]:
data.to_csv('correct_data.csv')