In [ ]:
import requests, pandas as pd

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
tables = pd.read_html('https://www.numbeo.com/quality-of-life/rankings.jsp')

In [ ]:
df = tables[1]

In [ ]:
df

     Rank                        City  ...  Pollution Index  Climate Index
0     NaN         Canberra, Australia  ...            13.61          82.72
1     NaN         Adelaide, Australia  ...            18.29          94.96
2     NaN  Raleigh, NC, United States  ...            22.61          83.88
3     NaN         Zurich, Switzerland  ...            17.31          81.48
4     NaN     Wellington, New Zealand  ...            13.95          97.68
..    ...                         ...  ...              ...            ...
236   NaN          Jakarta, Indonesia  ...            84.32          63.76
237   NaN           Dhaka, Bangladesh  ...            93.10          71.29
238   NaN              Lagos, Nigeria  ...            88.39          60.75
239   NaN         Manila, Philippines  ...            89.95          61.23
240   NaN                Tehran, Iran  ...            81.46          70.99

[241 rows x 11 columns]

In [ ]:
df.to_csv('qualityoflife_index.csv')